.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__img-wrapper{
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(10px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(12px);
    }
}

.benefit__icon {
    max-width: rem(60px);
    height: rem(60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: rem(24px);
    color: black;
    font-weight: bold;
    margin-bottom: rem(5px);
}

.benefit__icon--sprite {
    top: 47%;
    left: 47%;
}
