.fixed-menu {
    position: fixed;

    z-index: 100;
    display: none;
}

.fixed-menu__item {
    margin-bottom: rem(6px);

    &--active {
        .fixed-menu__link {
            border-color: #E01F3D;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: none;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: #E01F3D;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

