.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;

    @include phones {

    }
    
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    padding: rem(20px) 0;

    @include phones {
        flex-direction: column;
    }
}

.social__list {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.social__img {
    
    width: rem(30px);
    height: rem(30px);
    fill: #B3B3B3;

    &:hover {
        fill: #000000;
    }
}

.adress {
    font-style: normal;
    font-size: rem(18px);
    

    @include phones {
        margin-bottom: rem(20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.adress__text {

    @include phones {
        margin-bottom: 10px;
    }
}