$containerWidth: 915px;
$BaseFontSize: 16px;


// colors

$Black: #292929;
$Pink: #E01F3D; 
$Background: #F5F5F5;



.button {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: $Pink;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    &:hover {
        color: #FFFFFF;
        background: #CA1B36;
    }

    &--theme--transperent {
        background: transparent;
        text-transform: none;
        color: #000000;
        &:hover {
        color: #E01F3D;
        background: transparent;
    }

    }

}