$containerWidth: 915px;
$BaseFontSize: 16px;


// colors

$Black: #292929;
$Pink: #E01F3D; 
$Background: #F5F5F5;

.feature {
    display: flex;
}

.feature__icon {
    width: 43px;
    margin-right: 4px;
}

.feature__text {
    font-size: $BaseFontSize;
    max-width: 114px;
}