$containerWidth: 940px;
$BaseFontSize: 16px;


// colors

$Black: #292929;
$Pink: #E01F3D; 
$Background: #F5F5F5;

// breakpoint 

$tablets: 768px;
$phones: 480px;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

@import "./media.scss";

// normalize

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");



// setups 

@import "./layout";

// components

@import "./Components/hero.scss";
@import "./Components/header.scss";
@import "./Components/features.scss";
@import "./Components/feature.scss";
@import "./Components/button.scss";
@import "./Components/section.scss";
@import "./Components/headline.scss";
@import "./Components/benefits.scss";
@import "./Components/benefit.scss";
@import "./Components/reviews.scss";
@import "./Components/interactive-avatar.scss";
@import "./Components/form.scss";
@import "./Components/radio.scss";
@import "./Components/fixed-menu.scss";
@import "./Components/footer.scss";
@import "./Components/burger.scss";
@import "./Components/Product.scss";
@import "./Components/dropdown.scss";
@import "./Components/team.scss";
@import "./Components/modal.scss";